.segmented-options.ant-segmented {
	background: transparent;
	padding: 0;
}

/* normal state */
.segmented-options .ant-segmented-item {
	border-radius: 6px;
	transition: all 0.2s ease;
}

/* hover */
.segmented-options .ant-segmented-item:hover {
	background-color: #ccfbf1;
	color: #0f766e;
}

/* selected */
.segmented-options .ant-segmented-item-selected {
	background-color: #0f766e !important;
	color: white !important;
	font-weight: 600;
}